@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #222222;
}

h2 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}

input:-webkit-autofill {
  transition: background-color 1s 5000s;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
