@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  /* font-size: 62.5%; */
}

h2 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 38.1944444444 */
/* 61.8056 */
